<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/index.css">
    <link rel="icon" type="imagem/png" href="../public/img/memoria.ico"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet"> 
    <title>Simulador de memória</title>
</head>
<body>
    <div class="container">
        <h1>Simulador de Memória</h1>
        <div class="container-conteudo">
            <div class="container-conteudo1">
                <h2>1 - Gravar na memória</h2>
                <label class="label-conteudo1" for="">Adicione o arquivo: <input id="input-arq" type="file" accept=".txt"></label>
                <label class="label-conteudo1 "for="">
                    Salvar em memória:
                    <select name="" id="">
                        <option value="RAM">RAM</option>
                        <option value="SAM">SAM</option>
                    </select>
                </label>
                <button>Salvar</button>
            </div>
            <div class="container-conteudo2">
                <h2>2 - Ler da memória</h2>
                <label class="label-conteudo1" for="">Digite a palavra: <input id="input-procurar" type="text"></label>
                <label class="label-conteudo1 "for="">
                    Ler da memória:
                    <select name="" id="">
                        <option value="RAM">RAM</option>
                        <option value="SAM">SAM</option>
                    </select>
                </label>
                <button>Procurar</button>
            </div>
        </div>
    </div>
</body>
</html>